.Home.Main {
  margin-top: 3em;
  padding: 1em;
}

.Home .SocialMediaList {
  margin-top: 5em;
}

.ActiveEmployment {
  list-style: none;
  margin: auto;
  padding: 0;
}

.ActiveEmployment-entry {
  display: flex;
  justify-content: center;
  margin: auto;
  font-size: 18px;
  font-weight: 300;
  margin-top: 1rem;
}

.ActiveEmployment-entry .title {
  font-weight: bold;
}

.ActiveEmployment-entry a {
  color: black;
}

.ActiveEmployment-entry .Icon, .ActiveEmployment-entry a:hover {
  color: #9a7911;
}

.ActiveEmployment-entry > * {
  margin-right: 1rem;
}

.ActiveEmployment-entry > *:last-child {
  margin-right: 0;
}

.SocialMediaList {
  grid-area: social;
  text-align: center;
}

.SocialMediaList-entry {
  white-space: nowrap;
}

.SocialMediaList-entry, .SocialMediaList-entry * {
  vertical-align: middle;
}

.SocialMediaList-entry .Icon {
  padding-right: 0.35rem;
}

.SocialMediaList-entry.separator {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

@media only screen and (max-width: 480px) {
  .SocialMediaList-entry .label {
    display: none;
  }
}

.Home .InfoCard {
  margin-top: 0;
}

.InfoCard {
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
}

.InfoCard .content p:last-child {
  margin-bottom: 1rem;
}

.InfoCard h2 {
  color: white;
  text-align: center;
}

.InfoCard .content .title {
  margin: 0;
}

.InfoCard .content {
  text-align: center;
}

.InfoCard .profileImage {
  margin-bottom: 1em;
}
