.Home {
  margin-top: 3em;
  padding: 1em;
  display: grid;
  grid-template-areas: 'menu-left profile menu-right' 'social social social' 'info info info' 'timeline timeline timeline';
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}

.Home .Profile {
  grid-area: profile;
}

.Home .MenuLeft {
  grid-area: menu-left;
}

.Home .MenuRight {
  grid-area: menu-right;
}

.Home .InfoCard {
  grid-area: info;
}

.Home .Timeline {
  grid-area: timeline;
}

.Profile {
  text-align: center;
}

.Profile h1 {
  font-family: 'Libre Barcode 39 Text', cursive;
}

.Profile .image img {
  border-radius: 50%;
  width: 10rem;
  height: auto;
}

.Home .SocialMediaList {
  margin-top: 5em;
}

.SocialMediaList {
  grid-area: social;
  text-align: center;
}

.SocialMediaList-entry {
  white-space: nowrap;
}

.SocialMediaList-entry, .SocialMediaList-entry * {
  vertical-align: middle;
}

.SocialMediaList-entry .Icon {
  padding-right: 0.35rem;
}

.SocialMediaList-entry.separator {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

@media only screen and (max-width: 480px) {
  .SocialMediaList-entry .label {
    display: none;
  }
}

.Home .InfoCard {
  margin-top: 0;
}

.InfoCard {
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
}

.InfoCard .content p:last-child {
  margin-bottom: 1rem;
}

.InfoCard h2 {
  color: white;
  text-align: center;
}

.InfoCard .content .title {
  margin: 0;
}

.InfoCard .content {
  text-align: center;
}

.InfoCard .profileImage {
  margin-bottom: 1em;
}
