.Projects {
  margin-top: 3em;
  padding: 1em;
  display: grid;
  grid-template-areas: 'menu-left profile menu-right' 'content content content';
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}

.Projects .Profile {
  grid-area: profile;
}

.Projects .MenuLeft {
  grid-area: menu-left;
}

.Projects .MenuRight {
  grid-area: menu-right;
}
