.Timeline .entry {
  margin-bottom: 1.5rem;
}

.Timeline .entry .headline {
  display: flex;
  justify-content: space-between;
}

.Timeline .entry .title * {
  vertical-align: middle;
}

.Timeline .entry .summary {
  color: #575e5e;
  font-size: 0.95rem;
  padding-top: 1.5rem;
  width: 90%;
  margin: 0 auto;
}

.Timeline .entry .Icon {
  margin-right: 0.25rem;
}

.Timeline .entry .date {
  display: flex;
  justify-self: end;
}

.Timeline .entry .external a {
  font-family: 'DotGothic16', sans-serif;
  font-size: 0.8rem;
}
